body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    background-color: #004C00;
    width: 100%;
    height: auto;
}

@font-face {
    font-family: "Coffee";
    src: url("CoffeeTinInitials.ttf");
}

@font-face {
    font-family: "Hoyle";
    src: url("HoylePLayingCards.ttf");
}